@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210120/pngtree-white-gradient-simple-geometric-pattern-background-image_535594.jpg");
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px black;
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 450px;
}

.container .card .imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px red;
}

.container .card .imgContainer img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px;
  }
}
.homebutton {
  background-color: black;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  font-family: algerian;
  padding: 32px 16px;
  border-radius: 12px;
  box-shadow: 0 8px 16px white;
  text-shadow: 0 8px 16px rgb(248, 244, 252);
  width: 50%;
}
